/*codethink green: #a7d239*/

html, body {
	height: 100%;
	padding: 0;
}

a:link {
	color: #ffffff; 
	text-decoration: underline; 
}
a:active {
	color: #c43422; 
	text-decoration: underline; 
}
a:visited {
	color: #ffffff; 
	text-decoration: underline; 
}
a:hover {
	color: #c43422; 
	text-decoration: none; 
}

li {
    font-family: Arial;
    color: white;
    list-style: none;
    font-size: 16px;
}

li a {
    float: right;
    margin: 3px ;
    font-size: 12px;
}

ul {
    padding: 10px ;
}

h2 {
    font-family: Arial;
    color: white;
    font-size: 18px ;
}

h4 {
    font-family: Arial;
    color: black;
}
h5 {
    font-family: Arial;
    color: black;
    line-height: 1;
}

.list_title {
    background-color: #555;
    padding: 1px 8px;
    height: 37px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.list {
    width: 300px ;
    float: left;
    margin: 0px ;
    margin-right: 5px ;
    border: 1px ;
    border-bottom: 0px ;
    border-style: solid;
    border-color: #555;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
}

select {
    padding:1px;
    margin: 0;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #eee;
    color: #333;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;

}

.menu {
	color: white;
	background-color: #333;
	padding: 4px 8px ;
	min-width: 1280px ;
}

.top {
	font-family: Arial;
	color: white;
	background-color: #a7d239;
	padding: 8px;
	min-width: 1280px ;
	height: 50px;
	border-bottom-right-radius: 20px 20px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

.board {
    min-width: 1320px ;
    height: 100%;
    min-height: 100%;
}

.card {
    cursor: pointer;
    margin-bottom: 5px ;
    padding: 4px ;
    word-wrap: break-word;
    background-color: #eee;
    border: 1px ;
    border-style: solid;
    border-color: #333;
    box-shadow: 4px 4px 4px #888888;
    border-radius: 8px;
}

.ui-state-highlight {
    width: 300px ;
    height: 300px ;
    float: left;
    padding: 2px 8px ;
    background-color: #999 ;
    margin: 10px ;
    border: 1px solid #666 ;
    border-radius: 7px ;
}
