a:link {
	color: #ffffff; 
	text-decoration: underline; 
}
a:active {
	color: #c43422; 
	text-decoration: underline; 
}
a:visited {
	color: #ffffff; 
	text-decoration: underline; 
}
a:hover {
	color: #c43422; 
	text-decoration: none; 
}

li {
    font-family: Arial;
    color: white;
    list-style: none;
    font-size: 16px;
}

li a {
    float: right;
    margin: 3px ;
    font-size: 12px;
}

ul {
    padding: 10px ;
}

h2 {
    font-family: Arial;
    color: black;
    font-size: 18px ;
}

h4 {
    font-family: Arial;
    color: black;
}
h5 {
    font-family: Arial;
    color: black;
    line-height: 1;
}

.list {
    width: 300px ;
    float: left;
    padding: 2px 4px ;
    margin: 4px ;
}

.menu {
	color: white;
	background-color: #444;
	padding: 4px 8px ;
	min-width: 1280px ;
}

.top {
	font-family: Arial;
	color: white;
	background-color: #c43422;
	padding: 8px;
	min-width: 1280px ;
	height: 50px;
	border-bottom-right-radius: 20px 20px;
}

.board {
    min-width: 1320px ;
}

.card {
    margin: 5px ;
    padding: 4px ;
    word-wrap: break-word;
    background-color: #eee;
    border: 1px ;
    border-style: solid;
    border-color: #333;
    box-shadow: 4px 4px 4px #888888;
    border-radius: 8px;
}

.ui-state-highlight {
    width: 300px ;
    height: 300px ;
    float: left;
    padding: 2px 8px ;
    background-color: #999 ;
    margin: 10px ;
    border: 1px solid #666 ;
    border-radius: 7px ;
}
